/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Main Styles */
  main {
    padding: 20px;
  }
  
  .contact-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .contact-info {
    flex: 1;
    margin-right: 20px;
  }
  
  .contact-info h2 {
    font-size: 24px;
  }
  
  .contact-info p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .contact-form {
    flex: 1;
  }
  
  .contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    height: 150px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #8E793E;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #6c5821;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  